################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/AnimalEvo/DesignTimeBuild/.dtbcache.v2
/.vs/AnimalEvo/FileContentIndex/a08d1517-46ac-4563-a872-a3561415cc1e.vsidx
/.vs/AnimalEvo/v17/.suo
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.assets.cache
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.GeneratedMSBuildEditorConfig.editorconfig
*.json
/.vs/AnimalEvo/FileContentIndex/e923befa-9481-49cf-a42d-e2e8ccc137b9.vsidx
/AnimalEvoApp/bin/Debug/net8.0-windows/AnimalEvoApp.dll
/AnimalEvoApp/bin/Debug/net8.0-windows/AnimalEvoApp.exe
/AnimalEvoApp/bin/Debug/net8.0-windows/AnimalEvoApp.pdb
/AnimalEvoApp/obj/Debug/net8.0-windows/ref/AnimalEvoApp.dll
/AnimalEvoApp/obj/Debug/net8.0-windows/refint/AnimalEvoApp.dll
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.csproj.FileListAbsolute.txt
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.dll
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.genruntimeconfig.cache
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.pdb
/AnimalEvoApp/obj/Debug/net8.0-windows/apphost.exe
/AnimalEvoApp/obj/AnimalEvoApp.csproj.nuget.dgspec.json
/AnimalEvoApp/obj/AnimalEvoApp.csproj.nuget.dgspec.json
/AnimalEvoApp/obj/project.assets.json
/AnimalEvoApp/obj/project.nuget.cache
/.vs/AnimalEvo/FileContentIndex/a6834a76-826d-4cb2-b395-b9f23cff7a84.vsidx
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.AssemblyInfo.cs
/AnimalEvoApp/obj/Debug/net8.0-windows/AnimalEvoApp.AssemblyInfoInputs.cache
